body {
    background-color: rgb(217, 236, 236);
}

div {
    background-color: white;
}

h1 {
     text-align: center;
}

div {
    padding: 15px;
    margin: 30px;
    border-radius: 20px;
}

ul {
    list-style: none;
    text-align: center;
}

a {
    text-align: none;
}

li {
    margin: 10px;
}

form {
    text-align: center;
}